<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div>
    <h1 class="ion-text-center">Our History</h1>
    <p>The first ‘real time’ weather observation was transmitted from Valentia Island in Co. Kerry on the 8th October 1860 under the auspices of the Meteorological Committee of the British Board of Trade. Indeed for many years after Independence weather matters continued to be met by the British Meteorological Office. It was not until 1936 that the Irish Meteorological Service was established to provide accurate weather information for transatlantic aviation. Further information on this can be found here including a link to the book Establishment of the Meteorological Service in Ireland. The Foynes Years, 1936-1945 by Tom Keane.</p>
    <p>Forecasting for aviation was the main preoccupation for the fledgling Meteorological Service. That is until 1948 when it assumed responsibility for the weather forecasts broadcast by Radio Éireann. In 1952 it began to supply forecasts to the daily newspapers and in 1961 the Central Analysis and Forecast Office was opened at 44 Upper O’Connell Street. The following year live broadcasts on Teilifís Éireann. In 1979 its headquarters were moved to Glasnevin, Dublin.</p>
    <p>A lot of things have changed in the intervening years; such as the installation of high resolution weather radar systems at Dublin Airport and Shannon Airport in 1990 and 1996 respectively. In March 1996, its 60th year of operation the Meteorological Service adopted the new title Met Éireann. In 2001 Met Éireann launched its website and in 2008 a specialised web-based Met Self Briefing service was introduced for the provision of aviation data to pilots and aviation customers.</p>
    <p>In 2012 Met Éireann launched a mobile application for iOS and Android users. This app has proved to be quite popular with hundreds of thousands of downloads. Met Éireann began to use new channels to spread its warnings and forecasts such as Twitter and Facebook.</p>
  </div>
</ion-content>
