<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <h2>Welcome to the Met Éireann Weather Data App!</h2>
    <p>The main page of this app allows you to view the current weather conditions based on your location, the history button will allow you to learn about the history of Met Éireann and the contact us button will allow you to contact our team.  </p>
  </div>

</ion-content>
