<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contact us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large" class="ion-text-center">Contact us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <h1>Here's how you can contact our team:</h1>
    <p><b>Met Éireann Headquarters: </b></p>
    <p>65/67 Glasnevin Hill, Dublin, 9D09 Y921, Ireland</p>
    <p><b>Opening Hours:</b></p>
    <p>09:15 – 17:30 (17:15 on Friday)</p>
    <p><b>Telephone:</b></p>
    <p>+353-1-8064200</p>
    <p><b>Fax:</b></p>
    <p> +353-1-8064247</p>
    <p><b>Email:</b></p>
    <p> met.eireann@met.ie0</p>
    <p><b>Web/App Queries:</b></p>
    <p>digital.queries@met.ie</p>

  </div>

</ion-content>
